<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h4>Products</h4>
        <button class="btn btn-sm btn-outline-dark">
            <a href="/products/new">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add new
            </a>
        </button>
    </div>
    <div class="row mt-2 g-1">
        <% products.forEach(product => { %>
            <div class="col-md-3">
                <div class="card p-2">
                    <div class="text-center mt-2 p-3">
                        <% product.categories.forEach(category => { %>
                            <% if (category.name.toLowerCase().includes("account")) { %>
                                <img alt="image" src="/images/netflix.png" width="60" />
                            <% } else { %>
                                <img alt="image" src="/images/spotify.png" width="60" />
                            <% } %>
                            <span class="d-block font-weight-bold mt-3"><%=category.name%></span>
                        <% }) %>
                        <p></p>
                        <div><%=product.info%></div>
                        <hr> <span>Owner: <%= product.ownerId ? product.ownerId.email : "" %></span>
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <small class="ml-1">
                                Seller (Staff): <%= product.sellerId ? product.sellerId.email : "" %>
                            </small>
                        </div>
                        <a href="/products/<%=product._id%>" class="d-flex justify-content-around mt-3"> 
                            <span>$ <%=product.price%></span> 
                            <button class="btn btn-sm btn-outline-dark">Details</button>
                         </a>
                    </div>
                </div>
            </div>
        <%})%>
    </div>
</div>
